repos:
  - repo: local
    hooks:
      - id: detect-secrets
        name: Detect secrets
        entry: bash scripts/detect-secrets.sh
        language: system
        pass_filenames: false
        stages: [pre-commit]
