openapi: 3.1.0
info:
  title: Sardis Payment OS API
  description: |
    The Sardis Payment OS API enables AI agents to execute secure payments with
    real-time policy enforcement. This API provides programmatic access to:

    - **Wallet Management**: Create and manage MPC-secured wallets
    - **Payment Execution**: Process payments with policy validation
    - **Hold Operations**: Pre-authorization and capture flows
    - **Virtual Cards**: Issue and manage Lithic virtual cards
    - **Fiat Rails**: On-ramp and off-ramp via Bridge.xyz
    - **Compliance**: KYC verification and AML screening
    - **Spending Tracking**: Real-time spending analytics

    ## Authentication

    All API requests require a Bearer token in the Authorization header:

    ```
    Authorization: Bearer sk_live_your_api_key
    ```

    ## Rate Limiting

    - 100 requests per minute
    - 1000 requests per hour

    Rate limit headers are included in all responses.

  version: 2.0.0
  contact:
    name: Sardis Support
    email: support@sardis.dev
    url: https://docs.sardis.dev
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.sardis.dev/api/v2
    description: Production
  - url: https://api-sandbox.sardis.dev/api/v2
    description: Sandbox
  - url: http://localhost:8000/api/v2
    description: Local Development

tags:
  - name: Health
    description: Service health checks
  - name: Wallets
    description: Wallet management operations
  - name: Payments
    description: Payment execution and mandates
  - name: Holds
    description: Pre-authorization holds
  - name: Cards
    description: Virtual card management
  - name: Fiat
    description: Fiat on-ramp and off-ramp
  - name: Policies
    description: Spending policy management
  - name: Compliance
    description: KYC and AML operations
  - name: Spending
    description: Spending analytics
  - name: Agents
    description: Agent management

security:
  - BearerAuth: []

paths:
  /health:
    get:
      tags: [Health]
      summary: Health Check
      description: Check API health status
      security: []
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /wallets:
    post:
      tags: [Wallets]
      summary: Create Wallet
      description: Create a new MPC-secured wallet for an agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
      responses:
        '201':
          description: Wallet created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '400':
          $ref: '#/components/responses/BadRequest'
    get:
      tags: [Wallets]
      summary: List Wallets
      description: List all wallets for the authenticated organization
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: chain
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of wallets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Wallet'

  /wallets/{wallet_id}:
    get:
      tags: [Wallets]
      summary: Get Wallet
      description: Retrieve wallet details by ID
      parameters:
        - $ref: '#/components/parameters/WalletId'
      responses:
        '200':
          description: Wallet details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Wallet'
        '404':
          $ref: '#/components/responses/NotFound'

  /wallets/{wallet_id}/balance:
    get:
      tags: [Wallets]
      summary: Get Wallet Balance
      description: Get the current balance for a wallet
      parameters:
        - $ref: '#/components/parameters/WalletId'
        - name: token
          in: query
          schema:
            type: string
            enum: [USDC, USDT, PYUSD, EURC]
            default: USDC
        - name: chain
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Wallet balance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletBalance'

  /mandates/execute:
    post:
      tags: [Payments]
      summary: Execute Payment Mandate
      description: |
        Execute a payment mandate. The mandate is validated against spending
        policies before execution. Blocked payments return a policy violation
        response rather than an error.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteMandateRequest'
      responses:
        '200':
          description: Payment executed or blocked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentResult'
        '400':
          $ref: '#/components/responses/BadRequest'

  /transactions/{transaction_id}:
    get:
      tags: [Payments]
      summary: Get Transaction
      description: Retrieve transaction details by ID
      parameters:
        - name: transaction_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Transaction details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transaction'
        '404':
          $ref: '#/components/responses/NotFound'

  /transactions:
    get:
      tags: [Payments]
      summary: List Transactions
      description: List transactions for a wallet
      parameters:
        - name: wallet_id
          in: query
          required: true
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, completed, failed]
      responses:
        '200':
          description: List of transactions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'

  /holds:
    post:
      tags: [Holds]
      summary: Create Hold
      description: Create a pre-authorization hold on wallet funds
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHoldRequest'
      responses:
        '201':
          description: Hold created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
    get:
      tags: [Holds]
      summary: List Holds
      description: List active holds
      parameters:
        - name: wallet_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, captured, voided, expired]
      responses:
        '200':
          description: List of holds
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Hold'

  /holds/{hold_id}/capture:
    post:
      tags: [Holds]
      summary: Capture Hold
      description: Capture a hold (full or partial)
      parameters:
        - name: hold_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                amount_minor:
                  type: integer
                  description: Amount to capture in minor units (optional for full capture)
      responses:
        '200':
          description: Hold captured
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'

  /holds/{hold_id}/void:
    post:
      tags: [Holds]
      summary: Void Hold
      description: Void a hold and release the funds
      parameters:
        - name: hold_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Hold voided
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'

  /cards:
    post:
      tags: [Cards]
      summary: Create Virtual Card
      description: Create a new virtual card via Lithic
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCardRequest'
      responses:
        '201':
          description: Card created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
    get:
      tags: [Cards]
      summary: List Cards
      description: List all virtual cards
      parameters:
        - name: wallet_id
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [active, frozen, cancelled]
      responses:
        '200':
          description: List of cards
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Card'

  /cards/{card_id}:
    get:
      tags: [Cards]
      summary: Get Card
      description: Get card details
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Card details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'

  /cards/{card_id}/freeze:
    post:
      tags: [Cards]
      summary: Freeze Card
      description: Temporarily freeze a card
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Card frozen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'

  /cards/{card_id}/unfreeze:
    post:
      tags: [Cards]
      summary: Unfreeze Card
      description: Unfreeze a frozen card
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Card unfrozen
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'

  /cards/{card_id}/cancel:
    post:
      tags: [Cards]
      summary: Cancel Card
      description: Permanently cancel a card
      parameters:
        - name: card_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Card cancelled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'

  /fiat/fund:
    post:
      tags: [Fiat]
      summary: Fund Wallet
      description: Initiate fiat on-ramp to fund a wallet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FundWalletRequest'
      responses:
        '201':
          description: Funding initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingTransaction'

  /fiat/withdraw:
    post:
      tags: [Fiat]
      summary: Withdraw to Bank
      description: Initiate fiat off-ramp withdrawal
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawRequest'
      responses:
        '201':
          description: Withdrawal initiated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingTransaction'

  /policies/check:
    post:
      tags: [Policies]
      summary: Check Policy
      description: Check if a payment would be allowed by current policies
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PolicyCheckRequest'
      responses:
        '200':
          description: Policy check result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PolicyCheckResult'

  /compliance/kyc/inquiries:
    post:
      tags: [Compliance]
      summary: Create KYC Inquiry
      description: Create a new KYC verification inquiry via Persona
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateKYCInquiryRequest'
      responses:
        '201':
          description: Inquiry created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KYCInquiry'

  /compliance/kyc/inquiries/{inquiry_id}:
    get:
      tags: [Compliance]
      summary: Get KYC Status
      description: Get KYC verification status
      parameters:
        - name: inquiry_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: KYC status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KYCResult'

  /compliance/screen:
    post:
      tags: [Compliance]
      summary: Screen Address
      description: Screen a wallet address for sanctions via Elliptic
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScreenAddressRequest'
      responses:
        '200':
          description: Screening result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScreeningResult'

  /spending:
    get:
      tags: [Spending]
      summary: Get Spending Summary
      description: Get spending summary for a wallet
      parameters:
        - name: wallet_id
          in: query
          required: true
          schema:
            type: string
        - name: period
          in: query
          schema:
            type: string
            enum: [daily, weekly, monthly]
            default: daily
      responses:
        '200':
          description: Spending summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpendingSummary'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    WalletId:
      name: wallet_id
      in: path
      required: true
      schema:
        type: string
      description: Wallet ID

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: string
      required: [error, message]

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        version:
          type: string
        timestamp:
          type: string
          format: date-time

    Wallet:
      type: object
      properties:
        id:
          type: string
        agent_id:
          type: string
        address:
          type: string
        chain:
          type: string
        limit_per_tx:
          type: string
        limit_total:
          type: string
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    WalletBalance:
      type: object
      properties:
        wallet_id:
          type: string
        balance:
          type: string
        token:
          type: string
        chain:
          type: string
        address:
          type: string

    CreateWalletRequest:
      type: object
      properties:
        agent_id:
          type: string
        chain:
          type: string
          enum: [base, polygon, ethereum, arbitrum, optimism]
        metadata:
          type: object
      required: [agent_id]

    ExecuteMandateRequest:
      type: object
      properties:
        mandate:
          type: object
          properties:
            mandate_id:
              type: string
            subject:
              type: string
              description: Wallet ID
            destination:
              type: string
              description: Vendor address or vendor:name
            amount_minor:
              type: string
              description: Amount in minor units (e.g., cents)
            token:
              type: string
              enum: [USDC, USDT, PYUSD, EURC]
            chain:
              type: string
            purpose:
              type: string
            vendor_name:
              type: string
            metadata:
              type: object
          required: [mandate_id, subject, destination, amount_minor, token, chain]

    PaymentResult:
      type: object
      properties:
        success:
          type: boolean
        status:
          type: string
          enum: [APPROVED, BLOCKED]
        payment_id:
          type: string
        tx_hash:
          type: string
        chain:
          type: string
        ledger_tx_id:
          type: string
        audit_anchor:
          type: string
        error:
          type: string
        message:
          type: string

    Transaction:
      type: object
      properties:
        id:
          type: string
        payment_id:
          type: string
        status:
          type: string
          enum: [pending, completed, failed]
        amount:
          type: string
        token:
          type: string
        chain:
          type: string
        vendor:
          type: string
        tx_hash:
          type: string
        created_at:
          type: string
          format: date-time

    Hold:
      type: object
      properties:
        hold_id:
          type: string
        wallet_id:
          type: string
        amount_minor:
          type: integer
        token:
          type: string
        chain:
          type: string
        status:
          type: string
          enum: [active, captured, voided, expired]
        purpose:
          type: string
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time

    CreateHoldRequest:
      type: object
      properties:
        wallet_id:
          type: string
        amount_minor:
          type: integer
        token:
          type: string
          default: USDC
        chain:
          type: string
        purpose:
          type: string
        expires_in_seconds:
          type: integer
          default: 3600
      required: [wallet_id, amount_minor]

    Card:
      type: object
      properties:
        card_id:
          type: string
        wallet_id:
          type: string
        type:
          type: string
          enum: [single_use, merchant_locked, reusable]
        status:
          type: string
          enum: [active, frozen, cancelled]
        limit:
          type: integer
        nickname:
          type: string
        last_four:
          type: string
        created_at:
          type: string
          format: date-time

    CreateCardRequest:
      type: object
      properties:
        wallet_id:
          type: string
        limit:
          type: integer
        type:
          type: string
          enum: [single_use, merchant_locked, reusable]
        nickname:
          type: string
        merchant_categories:
          type: array
          items:
            type: string
      required: [wallet_id, limit]

    FundWalletRequest:
      type: object
      properties:
        wallet_id:
          type: string
        amount:
          type: number
        source:
          type: string
          enum: [bank_account, wire, card]
        currency:
          type: string
          default: USD
      required: [wallet_id, amount, source]

    WithdrawRequest:
      type: object
      properties:
        wallet_id:
          type: string
        amount:
          type: number
        destination:
          type: string
          enum: [bank_account, wire]
        account_id:
          type: string
      required: [wallet_id, amount, destination]

    FundingTransaction:
      type: object
      properties:
        funding_id:
          type: string
        wallet_id:
          type: string
        type:
          type: string
          enum: [deposit, withdrawal]
        status:
          type: string
          enum: [pending, processing, completed, failed]
        amount:
          type: number
        currency:
          type: string
        created_at:
          type: string
          format: date-time

    PolicyCheckRequest:
      type: object
      properties:
        vendor:
          type: string
        amount:
          type: number
        category:
          type: string
        wallet_id:
          type: string
      required: [vendor, amount]

    PolicyCheckResult:
      type: object
      properties:
        allowed:
          type: boolean
        reason:
          type: string
        risk_score:
          type: number
        checks:
          type: array
          items:
            type: string

    CreateKYCInquiryRequest:
      type: object
      properties:
        agent_id:
          type: string
        name_first:
          type: string
        name_last:
          type: string
        email:
          type: string
      required: [agent_id]

    KYCInquiry:
      type: object
      properties:
        inquiry_id:
          type: string
        session_token:
          type: string
        template_id:
          type: string
        status:
          type: string
          enum: [not_started, pending, approved, declined, expired, needs_review]
        redirect_url:
          type: string

    KYCResult:
      type: object
      properties:
        status:
          type: string
          enum: [not_started, pending, approved, declined, expired, needs_review]
        verification_id:
          type: string
        provider:
          type: string
        verified_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        reason:
          type: string

    ScreenAddressRequest:
      type: object
      properties:
        address:
          type: string
        chain:
          type: string
          default: ethereum
      required: [address]

    ScreeningResult:
      type: object
      properties:
        risk_level:
          type: string
          enum: [low, medium, high, severe, blocked]
        is_sanctioned:
          type: boolean
        entity_id:
          type: string
        entity_type:
          type: string
        provider:
          type: string
        screened_at:
          type: string
          format: date-time
        matches:
          type: array
          items:
            type: object
        reason:
          type: string

    SpendingSummary:
      type: object
      properties:
        wallet_id:
          type: string
        period:
          type: string
        total:
          type: number
        by_vendor:
          type: object
          additionalProperties:
            type: number
        by_category:
          type: object
          additionalProperties:
            type: number
        transaction_count:
          type: integer
